* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-repeat: no-repeat; */
  background-attachment: scroll;
  color: #575153;
  font-family: 'Times New Roman', Times, serif;
}
body {
}
header {
  background-image: url(images/Untitled-1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  
}
h1 ,span {Arial, sans-serif;
    color:#222222;
}

#fixNav {
  display: flex;  
  width: 100%;
  height: 35px;

}
#fixNav ul {
  margin: 0;
  padding: 0;
}
#fixNav ul li {
  list-style: none inside;
  width: auto;
  float: left;
  line-height: 35px; /*Cho text canh giữa menu*/
  padding: 0;
  margin-right: 10px;
  position: relative;
}
#fixNav ul li a {
    text-transform: uppercase
    white-space: nowrap;
    padding: 0 10px ;
    display: block;
    text-decoration: none;
    color: black;
}
#fixNav ul li a:hover{
    color: #8de3e3;  
}
.logo{
    display: inline-block;
}
.menu {
    display: flex;
}
.Trademark{
    width: 100%;
    font-size: 450px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin : 0%  32%;
    letter-spacing: 25px;
}
 button{
    width: 20%;
    padding : 24px 6px;
    font-size: 16px;
    margin: 0 60% 50% 80%;
    
}
.gioi-thieu{
    margin-top: 15%;
}